@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
@font-face {
    font-family: Voga-Medium;
    src: url(../fonts/Voga-Medium.otf);
}
@font-face {
    font-family: Ailerons;
    src: url(../fonts/Ailerons-Typeface.otf);
}
@font-face {
    font-family: Astonished;
    src: url(../fonts/Astonished.ttf);
}

@font-face {
    font-family: Reckoner;
    src: url(../fonts/Reckoner.ttf);
}
@font-face {
    font-family: Adam.CG;
    src: url(../fonts/ADAM.CG PRO.otf);
}
@font-face {
    font-family: Storke-Regular;
    src: url(../fonts/Stroke-Regular.otf);
}
@font-face {
    font-family: Kelson;
    src: url(../fonts/Kelson-Sans-Regular-RU.otf);
}

* {margin: 0; padding: 0;}

html, body {
	width: 100%;
	height: 100%;
}
body {
	overflow-y: hidden;
		font-family: 'Kelson', monospace;
		color: #444;
}
.hljs {
	overflow-x: hidden;
}
body > header {
	position: fixed;
	text-align: center;
	width: 100%;
	padding: 5px;

}
main {
	height: inherit;
	padding: 30px 0; /* for header */
	position: absolute; /* for ie */
}
.patterns {
	white-space: nowrap;
	height: inherit;
	background-color: #fafafa;
}
	article {
		display: inline-block;
		vertical-align: top;
		overflow-y: auto;
		height: inherit;
	}	
		article header {
			overflow: hidden;
			background-color: #e4e4e4;
			text-align: center;
			font-family: 'Kelson';
			font-size: 1.5em;
			color: #444;
		}
		article .code {
			
		}
		article .description {
			white-space: normal;
			/*word-break: break-all;*/
			padding: 2em;
		}

	article:first-child {
		width: 390px;
	}
	article:nth-child(2) {
		width: 390px;
	}
	article:nth-child(3) {
		width: 390px;
	}
	article:nth-child(4) {
		width: 410px;
	}
	article:nth-child(5) {
		width: 410px;
	}
	article:nth-child(6) {
		width: 410px;
	}


	::-webkit-scrollbar {
	    width: 5px;
	    height: 1em;
	}
	 
	::-webkit-scrollbar-track {
	    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	}
	 
	::-webkit-scrollbar-thumb {
	  background-color: #e4e4e4;
	}